<!--
including header content which is common for all pages
-->
<%- include ../layouts/header.ejs %>	
		
<% if (messages.error) { %>
	<p style="color:red"><%- messages.error %></p>
<% } %>

<% if (messages.success) { %>
	<p style="color:green"><%- messages.success %></p>
<% } %>

<form action="/tests/edit/<%= creator_id %>" method="post" name="form1">
	<table width="25%" border="0">
		<tr> 
			<td>Creator ID</td>
			<td><input type="text" name="creator_id" id="creator_id" value="<%= creator_id %>" /></td>
		</tr>
		<tr> 
			<td>Test Name</td>
			<td><input type="text" name="test_name" value="<%= test_name %>" /></td>
		</tr>
		<tr> 
			<td>Test Type</td>
			<td><input type="text" name="test_type" value="<%= test_type %>" /></td>
		</tr>
		<tr> 
			<td>Test Description</td>
			<td><input type="text" name="test_desc" value="<%= test_desc %>" /></td>
		</tr>
		<tr>
			<td>Test Date</td>
			<td><input type="text" name="test_date" value="<%=test_date %>" /></td>
		</tr>
		<tr> 
			<td>Test Time</td>
			<td><input type="text" name="test_time" value="<%= test_time %>" /></td>
		</tr>
		<tr> 
			<td></td>
			<td><input type="submit" name="Submit" value="SAVE" /></td>
		</tr>
	</table>
	<input type="hidden" name="_method" value="PUT" />
</form>

<!--
including footer content which is common for all pages
-->
<%- include ../layouts/footer.ejs %>
